<!DOCTYPE html>
<html>
  <head>

    <title>Alex Mulchandani</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/images/AM_Logo_Cropped.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />

    <link href="/css/application.css" media="all" rel="stylesheet" />
	<link href="/css/about.css" media="screen" rel="stylesheet" />
	<link href="/css/animate.css" media="screen" rel="stylesheet" />
	<link href="/css/side-navigation.css" media="screen" rel="stylesheet" />

    <script src="/js/application.js"></script>
	<script src="/js/about.js"></script>
	<script src="/js/wow.min.js"></script>
	<script src="/js/side-navigation.js"></script>


  </head>

  <body>



<script>new WOW().init();</script>



<div class="side-navigation right">

  <div class="action-box">
    <img alt="3lines" class="action-icon" id="three-lines-icon" src="/images/3lines.svg" />
    <img alt="Cross" class="action-icon" id="cross-icon" src="/images/cross.svg" style="display: none;" />
  </div>
  <div class="link-box">
    <a href="/" class="links">Home</a>
    <a href="/portfolio" class="links">Portfolio</a>
    <a href="/resume" class="links">Resume</a>
	<a href="/contact" class="links">Contact</a>
	<a href="/simba" class="links">Simba</a>
  </div>

</div>


<div id="about-background" class="background-height">

  <div id="about-background-left" class="background-height">
    <h1 class="wow fadeInLeft" data-wow-duration=".75s" data-wow-delay=".75s">Engineer</h1>
    <h1 class="wow fadeInLeft" data-wow-duration=".75s" data-wow-delay="1.5s">Entreprenuer</h1>
    <h1 class="wow fadeInLeft" data-wow-duration=".75s" data-wow-delay="2.25s">Mentor</h1>

    <div id="learnmore-box">
      <h2 id="jc-quote" class="wow fadeInLeft" data-wow-duration=".75s" data-wow-delay="3s">A good day is the result of good decisions. A good life is the result of a lot of good days. Make each day your masterpiece.</h2>
      <button class="wow bounceInLeft" data-wow-duration="1.25s" data-wow-delay="3.75s" id="learnmore-btn">More About Me</button>
    </div>

    <div id="about-background-left-footer" class="wow bounceInUp" data-wow-duration="1.25s" data-wow-delay="3.75s">

      <div class="social-link-box visible-xs-lg">
        <a href="mailto:ajmulchapps@gmail.com"><img alt="Email gray" class="social-link" src="/images/email_gray.svg" style="margin-left: 0px;" /></a>
        <a href="https://www.linkedin.com/in/alexmulchandani"><img alt="Linkedin gray" class="social-link" src="/images/linkedin_gray.svg" /></a>
        <a href="https://github.com/ajm4zs"><img alt="Github gray" class="social-link" src="/images/github_gray.svg" /></a>
        <a href="https://www.facebook.com/alex.mulchandani"><img alt="Facebook gray" class="social-link" src="/images/facebook_gray.svg" /></a>
        <a href="https://www.instagram.com/ajmulch"><img alt="Instagram gray" class="social-link" src="/images/instagram_gray.svg" /></a>
      </div>

      <div class="social-link-box visible-md">
        <a href="mailto:ajmulchapps@gmail.com"><img alt="Email gray" class="social-link" src="/images/email_gray.svg" style="margin-left: 0px;" /></a>
        <a href="https://www.linkedin.com/in/alexmulchandani"><img alt="Linkedin gray" class="social-link" src="/images/linkedin_gray.svg" /></a>
        <a href="https://github.com/ajm4zs"><img alt="Github gray" class="social-link" src="/images/github_gray.svg" /></a>
      </div>
      <div class="social-link-box visible-md">
        <a href="https://www.facebook.com/alex.mulchandani"><img alt="Facebook gray" class="social-link" src="/images/facebook_gray.svg" style="margin-left: 0px;" /></a>
        <a href="https://www.instagram.com/ajmulch"><img alt="Instagram gray" class="social-link" src="/images/instagram_gray.svg" /></a>
      </div>

      <div class="social-link-box visible-sm">
        <a href="mailto:ajmulchapps@gmail.com"><img alt="Email gray" class="social-link" src="/images/email_gray.svg" style="margin-left: 0px;" /></a>
        <a href="https://www.linkedin.com/in/alexmulchandani"><img alt="Linkedin gray" class="social-link" src="/images/linkedin_gray.svg" /></a>
      </div>
      <div class="social-link-box visible-sm">
        <a href="https://www.facebook.com/alex.mulchandani"><img alt="Facebook gray" class="social-link" src="/images/facebook_gray.svg" style="margin-left: 0px;" /></a>
        <a href="https://www.instagram.com/ajmulch"><img alt="Instagram gray" class="social-link" src="/images/instagram_gray.svg" /></a>
      </div>
      <div class="social-link-box visible-sm">
        <a href="https://github.com/ajm4zs"><img alt="Github gray" class="social-link" src="/images/github_gray.svg" style="margin-left: 0px;" /></a>
      </div>
    </div>
  </div>

  <div id="about-background-right" class="background-height"></div>

</div>

<div id="about-content-container">
  <div id="about-content-diagonal">

    <div class="about-content-inner wow fadeIn" style="margin-bottom: 50px;">
      <h1>Hello, I'm <b class="text-red">Alex Mulchandani</b></h1>
    </div>

    <div class="about-content-inner wow fadeIn">
      <img alt="Maryland state" src="/images/maryland.png" />
    </div>

    <div class="about-content-inner wow fadeIn" style="min-height: 10px">
      <h2 style="display: inline">I was born and raised in <b class="text-red">Montgomery County, Maryland</b></h2>
    </div>

    <div class="about-content-inner wow fadeIn">
      <h2>where I attended...</h2>
      <img alt="The Heights School" class="school-img" src="/images/theheights.png" />
      <img alt="Georgetown Prep" class="school-img" src="/images/prep.png" />
      <br/>
      <span class="img-caption"><b>The Height School</b></span>
	  <span class="img-caption"><b>Georgetown Prep</b></span>
      <span class="img-caption"><b>2000 - 2006</b></span>
      <span class="img-caption"><b>2006 - 2010</b></span>
    </div>

    <div class="about-content-inner wow fadeIn">
      <div class="bar graybar" style="margin-top: 35px"></div>
    </div>

    <div class="about-content-inner wow fadeIn" style="min-height: 10px;">
      <h2>I grew up with a loving <b class="text-red">family</b></h2>
    </div>

    <div class="about-content-inner wow fadeIn" style="margin-bottom: 0px;">
      <img alt="Mom me" class="family-img gray" src="/images/parents.jpg" />
      <img alt="Dad me" class="family-img red" src="/images/family.jpg" style="margin-right: 0px;" />
    </div>

    <div class="about-content-inner wow fadeIn" style="margin-top: 0px; padding-top: 0px;">
      <img alt="Brother me" class="family-img red" src="/images/brothers.jpg" />
      <img alt="Grandparents me" class="family-img gray" src="/images/mom.jpg" style="margin-right: 0px;" />
    </div>

    <div class="about-content-inner wow fadeIn" style="margin-top: 30px;">
	  <h2 class="taiwan-text">My family has roots from <b class="text-red">Greece</b> and <b class="text-red">India</b></h2>
	  </br></br></br></br>
	  <img alt="Greece" class="taiwan-island" src="/images/greece.png" />
	  </br></br>
	  <img alt="India" class="taiwan-island" src="/images/india.png" />
    </div>

    <div class="about-content-inner wow fadeIn">
      <div class="bar graybar" style="margin-top: 0px"></div>
    </div>

    <div class="about-content-inner wow fadeIn">
      <h2>Some <b class="text-red">hobbies</b> of mine include...</h2>
    </div>

    <div class="about-content-inner wow fadeIn">
      <img alt="Violin" class="hobby-img" src="/images/basketball.svg" />
      <img alt="Drums" class="hobby-img" src="/images/music.svg" />
      <br/>
      <span class="img-caption-hobby">Sports</span>
      <span class="img-caption-hobby red">Music</span>
    </div>

    <div class="about-content-inner wow fadeIn">
      <img alt="Mma" class="hobby-img" src="/images/glassart.svg" />
      <img alt="Snowboard" class="hobby-img" src="/images/ski.svg" />
      <br/>
      <span class="img-caption-hobby red">Glass Art</span>
      <span class="img-caption-hobby">Skiing</span>
    </div>

    <div class="about-content-inner wow fadeIn">
      <img alt="Programming" class="hobby-img" src="/images/programming.svg" />
      <img alt="Magic" class="hobby-img" src="/images/hike.svg" />
      <br/>
      <span class="img-caption-hobby">Hacking</span>
      <span class="img-caption-hobby red">Hiking</span>
    </div>

    <div class="about-content-inner wow fadeIn">
      <div class="bar graybar" style="margin-top: 0px"></div>
    </div>

    <div class="about-content-inner wow fadeIn">
      <h2>I graduated from the <b class="text-red">University of Virginia</b> in 2014</h2>
    </div>

    <div class="about-content-inner wow fadeIn">
      <img alt="Graduation me" class="graduation-img" style="width: 50%; height: 50%; text-align: center;" src="/images/graduation.jpg" />
    </div>

    <div class="about-content-inner wow fadeIn">
      <h2>with a B.S. in both <b class="text-red">Computer Science</b> and <b class="text-red">Systems Engineering.</b></h2>
    </div>

    <div class="about-content-inner wow fadeIn">
      <div class="bar graybar" style="margin-top: 0px"></div>
    </div>

    <div class="about-content-inner wow fadeIn">
      <h2>In college I was <b class="text-red">heavily involved</b> with...</h2>
    </div>

    <div class="about-content-inner wow fadeIn">
      <img alt="Track" class="hobby-img grayborder" src="/images/track.jpg" />
      <img alt="HackCville" class="hobby-img grayborder" src="/images/hackcville.png" />
      <br/>
      <span class="img-caption-hobby">Varsity Track & Field</span>
      <span class="img-caption-hobby" style="margin-left:20px">Hack Cville</span>
    </div>

    <div class="about-content-inner wow fadeIn">
      <div class="bar graybar"></div>
    </div>

    <div class="about-content-inner wow fadeIn">
      <h2>Today I live in <b class="text-red">Washington, DC</b></h2>
    </div>

    <div class="about-content-inner wow fadeIn">
      <a href="https://www.fiscalnote.com"><img alt="Mastercard logo" class="fn-logo-img" src="/images/mastercard.jpg" /></a>
    </div>

    <div class="about-content-inner wow fadeIn">
      <h2>Where I am a <b class="text-red">Principal Data Engineer</b> at <a href="https://www.mastercard.us" class="fiscalnote-link">APT, a Mastercard company</a></h2>
    </div>

    <div class="about-content-inner wow fadeIn">
      <h2>To be <b class="text-red">continued</b>...</h2>
    </div>

  </div>
</div>



  </body>
</html>
