<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Alex Mulchandani</title>

		<link rel="icon" href="images/AM_Logo_Cropped.png">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<!-- Material Design Bootstrap -->
		<link href="/css/mdb.min.css" rel="stylesheet">

		<link href="/css/style.css" rel="stylesheet">

	</head>
	<body style="background-color: #231F20">

		<div class="text-center" style="margin-top: 100px">
			<img alt="AM Logo" class="hidden-xs" id="am-logo" src="images/AM_Logo_Cropped.png" style="top: 200.758px;">
			<h1 style="margin-top: 50px; color: white; font-family: 'allegratta'; font-size: 75px">
				Alexander J. Mulchandani
			</h1>
		</div>

		<section class="color-blue" id="bottom-nav">
			<nav class="cl-effect-blue text-center">
				<a href="/about" class="wow bounceInDown animated ml-4" data-wow-delay="0s" style="color: white; visibility: visible; animation-delay: 0s; animation-name: bounceInDown">About</a>
				<a href="/portfolio" class="wow bounceInDown animated ml-4" data-wow-delay="0s" style="color: white; visibility: visible; animation-delay: 0s; animation-name: bounceInDown">Portfolio</a>
				<a href="/resume" class="wow bounceInDown animated ml-4" data-wow-delay="0s" style="color: white; visibility: visible; animation-delay: 0s; animation-name: bounceInDown">Resume</a>
				<a href="/tetris" class="wow bounceInDown animated ml-4" data-wow-delay="0s" style="color: white; visibility: visible; animation-delay: 0s; animation-name: bounceInDown">Tetris</a>
				<a href="/contact" class="wow bounceInDown animated ml-4" data-wow-delay="0s" style="color: white; visibility: visible; animation-delay: 0s; animation-name: bounceInDown">Contact</a>
				<a href="/simba" class="wow bounceInDown animated ml-4" data-wow-delay="0s" style="color: white; visibility: visible; animation-delay: 0s; animation-name: bounceInDown">Simba</a>
			</nav>

		</section>

		<div class="text-center">
			<a href="mailto:ajmulchapps@gmail.com" class="fas fa-envelope fa-nav" style="color: white"></a>
			<a href="https://www.linkedin.com/in/alexmulchandani/" target="_blank" class="fab fa-linkedin-in fa-nav" style="color: white"></a>
			<a href="https://www.github.com/ajm4zs" target="_blank" class="fab fa-github fa-nav" style="color: white"></a>
			<a href="https://www.instagram.com/ajmulch/" target="_blank" class="fab fa-instagram fa-nav" style="color: white"></a>
			<a href="https://www.facebook.com/alex.mulchandani/" target="_blank" class="fab fa-facebook fa-nav" style="color: white"></a>
		</div>
	</body>

</html>
