<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Alex Mulchandani</title>

		<link rel="icon" href="images/AM_Logo_Cropped.png">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<!-- Material Design Bootstrap -->
		<link href="/css/mdb.min.css" rel="stylesheet">

		<link href="/css/style.css" rel="stylesheet">

	</head>
	<body style="background-color: #231F20">

		<nav class="navbar navbar-expand-lg navbar-light static-top text-center" style="color: #231F20">
			<a class="navbar-brand" href="/"><img src="/images/AM_Logo_Cropped.png" height="80" width="80" alt="Alex Mulchandani"></a>
			<%- include('nav-items'); -%>
		</nav>

		<section class="page-section" id="portfolio">
			<div class="container shadow p-3 mb-5 rounded">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="section-heading text-uppercase" style="color: white; font-family: 'Courier Prime', monospace;">Data Engineering</h2>
						<br><br>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 portfolio-item">
						<a class="portfolio-link" data-toggle="modal" href="#deModal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fas fa-plus fa-3x"></i>
								</div>
							</div>
							<img class="img-fluid" src="images/apt4.jpg" style="width: 100%; height: 100%;" alt="">
						</a>
						<div class="portfolio-caption portfolio-text">
							<h4>Data Engineer</h4>
							<p class="text-muted">APT</p>
						</div>
					</div>
					<div class="col-md-4 portfolio-item">
						<a class="portfolio-link" data-toggle="modal" href="#leadDEModal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
							<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
						<img class="img-fluid" src="images/apt5.jpg" style="width: 100%; height: 100%;" alt="">
						</a>
						<div class="portfolio-caption">
						<h4>Lead Data Engineer</h4>
						<p class="text-muted">APT</p>
						</div>
					</div>
					<div class="col-md-4 portfolio-item" style="background-color: #231F20">
						<a class="portfolio-link" data-toggle="modal" href="#principalDEModal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
							<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
						<img class="img-fluid" src="images/mc2.png" style="background-color: #231F20; width: 100%; height: 100%;" alt="">
						</a>
						<div class="portfolio-caption">
						<h4>Principal</h4>
						<p class="text-muted">APT / Mastercard</p>
						</div>
					</div>
				</div>
			</div>

			<div class="container shadow p-3 mb-5 rounded">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="section-heading text-uppercase" style="color: white; font-family: 'Courier Prime', monospace;">Software Development</h2>
						<br><br>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 portfolio-item">
						<a class="portfolio-link" data-toggle="modal" href="#corporateScrimmageModal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fas fa-plus fa-3x"></i>
								</div>
							</div>
							<img class="img-fluid" src="images/pivotgroup.png" style="width: 100%; height: 100%;" alt="">
						</a>
						<div class="portfolio-caption portfolio-text">
							<h4>CTO</h4>
							<p class="text-muted">The Pivot Group</p>
						</div>
					</div>
					<div class="col-md-4 portfolio-item">
						<a class="portfolio-link" data-toggle="modal" href="#theCutModal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
							<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
						<h1 style="background-color: #231F20; font-family: 'thecut'; color: white; font-size: 500%; text-align: center; padding: 20%">theCut</h1>
						</a>
						<div class="portfolio-caption">
						<h4>Backend Developer</h4>
						<p class="text-muted">theCut App</p>
						</div>
					</div>
					<div class="col-md-4 portfolio-item" style="background-color: #231F20">
						<a class="portfolio-link" data-toggle="modal" href="#fitnessTrackerModal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
							<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
						<img class="img-fluid" src="images/fit1.jpg" style="width: 100%; height: 100%;" alt="">
						</a>
						<div class="portfolio-caption">
						<h4>Full Stack Developer</h4>
						<p class="text-muted">FitnessTracker App</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="text-center">
			<a href="mailto:ajmulchapps@gmail.com" class="fas fa-envelope fa-nav" style="color: white"></a>
			<a href="https://www.linkedin.com/in/alexmulchandani/" target="_blank" class="fab fa-linkedin-in fa-nav" style="color: white"></a>
			<a href="https://www.github.com/ajm4zs" target="_blank" class="fab fa-github fa-nav" style="color: white"></a>
			<a href="https://www.instagram.com/ajmulch/" target="_blank" class="fab fa-instagram fa-nav" style="color: white"></a>
			<a href="https://www.facebook.com/alex.mulchandani/" target="_blank" class="fab fa-facebook fa-nav" style="color: white"></a>
		</div>

		<!-- Portfolio Modals -->

		<div class="modal fade" id="deModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h4 class="modal-title w-100 font-weight-bold" style="font-family: 'Courier Prime', monospace; ">APT</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body mx-3">

						<p style="font-family: 'Courier Prime', monospace; font-size: 20px; color: black;">
							<b style="font-weight: bold">Role: </b>Data Engineer<br>
							<b style="font-weight: bold">Dates: </b>Aug 2014 - Jul 2016<br>
						</p>

						<p>
							After graduating from UVA, I joined the data engineering team at APT, a late-stage startup backed by Goldman Sachs.  I worked with
							both internal and external stakeholders to set up our clients for success.  My responsibilities included determing data requirements
							and best practices for advanced data manipulations, storage, and analysis strategies.  I owned several large scale (several terabytes
							of data) ETL pipelines across several industries (Retail, Restaurant, Hospital, CPG, Financal Services, Grocery, QSR) and was responsible
							for designing, developing, implementing, automating, and maintaining these pipelines.  I also found inefficiencies in pipelines and
							optimized them.
							<br><br>
						</p>
						<p style="font-family: 'Courier Prime', monospace; font-size: 20px; color: black;">
							<b style="font-weight: bold">Tech stack: </b> SQL (T-SQL), Python, C#, SSIS, Powershell
						</p>
					</div>

					<div class="modal-footer">
						<div class="form-group">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="leadDEModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h4 class="modal-title w-100 font-weight-bold" style="font-family: 'Courier Prime', monospace; ">APT</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body mx-3">

						<p style="font-family: 'Courier Prime', monospace; font-size: 20px; color: black;">
							<b style="font-weight: bold">Role: </b>Lead Data Engineer<br>
							<b style="font-weight: bold">Dates: </b>Aug 2016 - Jan 2019<br>
						</p>

						<p>
							After 2 years, I was promoted to Lead Data Engineer.  During this time, I served as the head data
							engineer across 20+ client projects with multi-million dollar contracts.  I also did a lot of internal
							work, designing and building several procedures in SQL/Python to automate inefficient tasks.  I also
							led a team focusing on revamping our organization knowledge management practices and was able to
							increase knowledge management activity by 60%.
							<br><br>
						</p>
						<p style="font-family: 'Courier Prime', monospace; font-size: 20px; color: black;">
							<b style="font-weight: bold">Tech stack: </b> SQL (T-SQL), Python, C#, SSIS, Powershell
						</p>
					</div>

					<div class="modal-footer">
						<div class="form-group">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="principalDEModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h4 class="modal-title w-100 font-weight-bold" style="font-family: 'Courier Prime', monospace; ">APT / Mastercard</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body mx-3">

						<p style="font-family: 'Courier Prime', monospace; font-size: 20px; color: black;">
							<b style="font-weight: bold">Role: </b>Principal Data Engineer<br>
							<b style="font-weight: bold">Dates: </b>Feb 2019 - present<br>

						</p>

						<p>
							During my time at APT, Mastercard acquired the company for $600M.  We still, however, remained a
							mostly autonomous business unit and thus I still focused on the APT platform.  As a Principal on the
							team, my main contributions have been around evangelizing technologies within the team that make
							us more efficient.  One example is my work to create training curriculum for Python and to lead a team
							that built tools using Python that automated common processes, like summarizing datasets, geocoding, and
							ingesting non-standard file formats like XML, JSON, and Parquet.  Another example is the CI/CD pipeline
							that I helped build using Jenkins to help automate a testing/deployment process across all of our servers.
							<br><br>
						</p>
						<p style="font-family: 'Courier Prime', monospace; font-size: 20px; color: black;">
							<b style="font-weight: bold">Tech stack: </b> SQL (T-SQL), Python, C#, SPLUNK, SSIS, Powershell
						</p>
					</div>

					<div class="modal-footer">
						<div class="form-group">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="corporateScrimmageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h4 class="modal-title w-100 font-weight-bold" style="font-family: 'Courier Prime', monospace; ">The Pivot Group</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body mx-3">

						<p style="font-family: 'Courier Prime', monospace; font-size: 20px; color: black;">
							<b style="font-weight: bold">Role: </b>CTO / Full Stack Developer<br>
							<b style="font-weight: bold">Dates: </b>Feb 2019 - present<br>
							<b style="font-weight: bold">Launch Date: </b>September 2019
						</p>

						<p>
							<a href="https://www.thepivotgroup.org" target="_blank">The Pivot Group</a> is a DC-based non-profit that works with
							young athletes to diversify their skill sets so they can thrive in the professional world once their sports careers end.
							I built a tool for one of The Pivot Group's key initiatives, <a href="http://www.corporatescrimmage.org" target="_blank">Corporate Scrimmage</a>.
							This tool connects our partner employers with young student athletes for short internship/externship/shadow opportunities
							in order to give them exposure to opportunities outside of sports and help guide them on their potential career interests.
							<br><br>
						</p>
						<p style="font-family: 'Courier Prime', monospace; font-size: 20px; color: black;">
							<b style="font-weight: bold">Tech stack: </b> Node.JS, MongoDB, Express, EJS (HTML), AWS, CSS
						</p>
					</div>

					<div class="modal-footer">
						<div class="form-group">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="theCutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h4 class="modal-title w-100 font-weight-bold" style="font-family: 'Courier Prime', monospace; ">theCut</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body mx-3">

						<p style="font-family: 'Courier Prime', monospace; font-size: 20px; color: black;">
							<b style="font-weight: bold">Role: </b>Backend Developer<br>
							<b style="font-weight: bold">Dates: </b>May 2018 - Sep 2018<br>
						</p>

						<p>
							My best friend from college has a company, <a href="https://www.thecut.co" target='_blank'>theCut</a>, and I helped him build a feature in my free time
							during the summer in 2018.  The feature was an image generation service that allowed users to auto-generate images based on a template and their
							custom data.  This feature led to increased social media posts from the theCut's barbers/clients using the auto-generated images from the microservice.
							<br><br>
						</p>
						<p style="font-family: 'Courier Prime', monospace; font-size: 20px; color: black;">
							<b style="font-weight: bold">Tech stack: </b> Node.JS, MongoDB, AWS (Lambda, S3)
						</p>
					</div>

					<div class="modal-footer">
						<div class="form-group">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="fitnessTrackerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h4 class="modal-title w-100 font-weight-bold" style="font-family: 'Courier Prime', monospace; ">FitnessTracker App</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body mx-3">

						<p style="font-family: 'Courier Prime', monospace; font-size: 20px; color: black;">
							<b style="font-weight: bold">Role: </b>Full Stack Developer<br>
							<b style="font-weight: bold">Dates: </b>March 2019 - present<br>
							<b style="font-weight: bold">Launch Date: </b>February 2020

						</p>

						<p>
							Since most of my dad's side of the family is in India, Whatsapp is a go-to means of communication within the family.
							For years, my dad has managed a fitness challenge with the family via Whatsapp and Excel.  Finding this very inefficient
							everyone involved, I decided to create an app that not only streamlines the processes but also incorporates additional features
							that were hard/impossible to accomplish with Whatsapp.
							<br><br>
						</p>
						<p style="font-family: 'Courier Prime', monospace; font-size: 20px; color: black;">
							<b style="font-weight: bold">Tech stack: </b> Node.JS, MongoDB, Express, EJS (HTML), AWS, CSS
						</p>
					</div>

					<div class="modal-footer">
						<div class="form-group">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
		<!-- Bootstrap tooltips -->
		<script type="text/javascript" src="/js/popper.min.js"></script>
		<!-- Bootstrap core JavaScript -->
		<script src="/js/bootstrap.min.js"></script>
		<!-- MDB core JavaScript -->
		<script type="text/javascript" src="/js/mdb.min.js"></script>

		<script src="/js/cbpAnimatedHeader.js"></script>
		<script src="/js/jquery.appear.js"></script>
		<script src="/js/SmoothScroll.min.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>