<a href="/about" class="ml-4 home-nav" style="color: white; visibility: visible;">About</a>
<a href="/portfolio" class="ml-4 home-nav" style="color: white; visibility: visible;">Portfolio</a>
<a href="/resume" class="ml-4 home-nav" style="color: white; visibility: visible;">Resume</a>
<a href="/tetris" class="ml-4 home-nav" style="color: white; visibility: visible;">Tetris</a>
<a href="/simba" class="ml-4 home-nav" style="color: white; visibility: visible;">Simba</a>
<a href="mailto:ajmulchapps@gmail.com" class="ml-4 home-nav" style="color: white; visibility: visible;">Contact</a>